.comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  
  .comment {
    margin-bottom: 20px;

    .author {
      font-weight: bold;
      font-size: 18px;
      line-height: 1;
    }

    p {
      font-size: 14px;
      margin: 0;
      margin-top: 5px;
    }

    .date {
      color: grey;
      font-size: 10px;
    }
  }
}
